 $navColor: rgba(200, 200, 200, 0.4);
 $fontFamily: monospace;
 $fontSize:large;
 $fontWeight:bold;
 $textDecorationColor:black;
 $textDecorationThickness:1px;
 $textAlign:center;

 %img-config {
 margin-top: 70px;
 height: 400px;
 width: 100%;
 filter: grayscale(0.7);
} 
%background-img{
 background-repeat: no-repeat;
background-size: cover; 
}
span{
  font-weight: $fontWeight;
}
%title{
  
  text-decoration: line-through;
  text-decoration-color: $textDecorationColor;
  text-decoration-thickness: $textDecorationThickness;
  letter-spacing: 5px;
  font-family:$fontFamily;
  font-weight: 100;
  font-size: 40px;
}

body{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
 
}

header{
  background-image: url(../images/header-background.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.menu-container {
    position: relative;
}
.menu-icon{
    display: none;
    float: right;
    font-size: xx-large;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
nav{
  text-decoration: none;
  background-color: $navColor;
  position: absolute;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  width: 100%;

  & a{
  margin-right: 30px;
  font-family: $fontFamily;
  color: gray;
  font-size: $fontSize;
  
  &:hover{
    color: black;
    text-decoration: underline;
  }

  }
}

.main-title{
 text-align: $textAlign;
 & h1{
  @extend %title;
  color: #c69595;
  
 }
 & p{
    color: #989494;
    font-size: smaller;
}
 
}
.main-categories img{

@extend %img-config;
   
 }
.title p{
  font-weight: $fontWeight;
}

.helland-silence{
  display: flex;
  justify-content: space-evenly;
 

  & button{
    background-image: url(../images/hellandScilenceButtonBackground.jpg);
    width: 150px;
    height: 50px;
    color: white;
    font-size: large;
    font-weight: $fontWeight;
    border: 0;
  }
  & h4{
    font-weight: $fontWeight;
  }
  & button:hover{
    color:rebeccapurple;
    cursor: pointer;
  }
}

.night-vesion{
  @extend .helland-silence;

  & button{
     background-image: url(../images/nightVisionButtonBackground.jpeg);
   
  }
}

.smoke-mirrors{
   @extend .helland-silence;
   & button{
     background-image: url(../images/smokeMerrorButtonBackground.jpeg);
   
  }
}
.concert-tours-title {
 text-align: $textAlign;
  & h1{
  @extend %title;
    color: #89a9bc;
  }

}
.smoke-mirrors-desc{
  background-image: url(../images/concertToursBackground.jpg);
 @extend %background-img;
  filter: grayscale(0.7);
  padding-top: 100px;
  padding-left: 100px;
  height: 400px;

  & p{
    color: #2b2929;
    font-size: smaller;
  }
  & button{
    background: transparent;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #7f7777 ;
  }
  & button:hover{
    background-color: #7f7777;
  }
  
}
.latter-composition-title{
  text-align: $textAlign;
  & h1{
  @extend %title;
    color:black;
  }
}
.indian-summer-desc{
    background-color: #eeeeee; 
    height: 298px; 
   
   & button{
    height: 30px;
    color: black;
    background: transparent;
    border: 1px solid darkgrey;
    font-weight: bold;
}
   }

.social-icon{
 color: #7f7777;
 display: inline;
 
 & p{
  display: inline;
 }
}


i{
  margin-right: 30px;
 
 
}
.indian-summer{
  display: flex;
  margin-left: 200px;
  height: 298px;
  margin-top: 80px;

}
.indian-summer-desc{
 padding-left: 10px;
}
.indian-summer-remix{
  @extend .indian-summer ;

}
.indian-summer-remix-desc{
  @extend .indian-summer-desc;

}
.chill-nation{
  @extend .indian-summer;
}
.chill-nation-desc{
@extend .indian-summer-desc;
}
.slider{
background-image: url(../images/sliderBackground.jpeg); 
@extend %background-img;
height: 500px;
filter: brightness(0.5);
text-align: center;
color: white;
text-align: center;
color: white;
margin-top: 50px;
padding-top: 100px;
 position: relative;

& p{
  color: #948a8a;;
}

}
.arrow {
    position: absolute;
    top: 50%;                   
    transform: translateY(-50%);
    font-size: 35px;
    background: white;
    color: black;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    transition: 0.3s;
    width: 90px;
    height: 90px;
}

.arrow.left {
    left: 0;
  }

.arrow.right {
    right: 0; 
}

.arrow:hover {
    color:white;
    background-color: black;
    transform: translateY(-50%) scale(1.1);
}
.pagination{
padding-top: 50px;
display: flex;
justify-content: center;   
align-items: center;       
gap: 10px;                 
margin-top: 30px;

& a{
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}
& a:hover{
  background-color: black;  
  color: black; 
  border: white solid;           
  transform: scale(1.5); 
}
}
.music-desc{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 48%;
  justify-content: center;
  margin: auto;
  padding-top: 50px;

}
.desc1{
background-image: url(../images/desc1.jpeg);  
background-repeat: no-repeat;
height: 300px;
 width: 200px;
padding-left: 5px;
padding-top: 20px;
font-size: 12px;
filter: contrast(0.5);
}
.desc2{

  @extend .desc1;
}
.desc3{

  @extend .desc1;
}
.desc4{

  @extend .desc1;
}
.desc5{

  @extend .desc1;
}
.desc6{

  @extend .desc1;
}
.upcomming-events{
background-image: url(../images/upcommingEventsBackground.jpeg);
@extend %background-img;
text-align: start;
height: 600px;
filter: contrast(0.5);
padding-top: 50px;
}

.upcomming-events-title{
 & h1{
  @extend %title;
   color: #10557d;
   text-align: center;
  }
}
.upcomming-events-desc{
  margin-left: 550px;
}
.p-color{
  color: rgb(82, 78, 78);
}
.p-align{
    margin-left: 40px;
    font-size: 40px;
    font-weight: 50;
}
.history{
background-image: url(../images/historyBackground.jpeg) ; 
@extend %background-img;
    filter: contrast(0.5);
    text-align: center;
    height: 700px;
    padding-top: 70px;
}

.history-title{
 
  & h1{
  @extend %title;
  }
  & p{
    color: #2b2929;
    font-size: smaller;
  }
}
footer{
background-image: url(../images/contactBackground.jpeg);  
@extend %background-img;
height: 500px;
filter: grayscale(0.8);
padding-top: 50px;
text-align: start;
padding-left: 500px;
& h1{
  @extend %title;
  }
  & p{
    color: #2b2929;
    font-size: smaller;
  }
}
form{
& input{
    border: 0;
    background-color: transparent;
    color: #534f4f;
    border-bottom: solid 2px black;
    width: 200px;
    margin-bottom: 20px;
}
& button{
    border: 0;
    background: transparent;
    font-size: large;
    font-weight: bold;
}
& button:hover{
 background-color: black;
 color: #eeeeee;
}
}
.contact-icon{
  display: flex;
  flex-direction: column;
  margin-top: -130px;
  & i{
   margin-bottom: 40px;
   text-align: center;
  }
  & i:hover{
    color: gray;
  }
}

.scroll-top{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    top: 50%;            
    right: 20px;    
    cursor: pointer;
    display: none; 
}
.scroll-top:hover{
    background-color:black;
    color: white;
}
/*smart phones & tablets*/
@media (min-width:481px) and (max-width:767px){
.menu-icon{
    display: block;
}

nav{
    display: none;
}
}
